black==22.6.0
flake8==3.9.0
isort==5.8.0
pre-commit==2.11.1
pytest==6.2.2
boto3==1.24.25
coverage==6.3.2
fsspec[s3]==2022.3.0
# load-testing
locust==2.12.1
argparse==1.4.0
seaborn==0.12.0
matplotlib==3.6.0